// font sizes
.text-0 {
  font-size: 0.6875rem !important;
}

.text-1 {
  font-size: 0.75rem !important;
}

.text-2 {
  font-size: 0.875rem !important;
}

.text-3 {
  font-size: 1rem !important;
}

.text-4 {
  font-size: 1.125rem !important;
}

.text-5 {
  font-size: 1.375rem !important;
}

.text-6 {
  font-size: 1.50rem !important;
}

.text-7 {
  font-size: 1.75rem !important;
}

.text-8 {
  font-size: 2rem !important;
}

.text-9 {
  font-size: 2.25rem !important;
}

.text-10 {
  font-size: 2.50rem !important;
}

.text-11 {
  font-size: 2.75rem !important;
}

.text-12 {
  font-size: 3rem !important;
}

.text-13 {
  font-size: 3.25rem !important;
}

.text-14 {
  font-size: 3.50rem !important;
}

.text-15 {
  font-size: 3.75rem !important;
}

.text-16 {
  font-size: 4rem !important;
}

.text-17 {
  font-size: 4.5rem !important;
}

.text-18 {
  font-size: 5rem !important;
}

.text-19 {
  font-size: 5.25rem !important;
}

.text-20 {
  font-size: 5.75rem !important;
}

// font weight
.font-weight-100 {
  font-weight: 100 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

// text decoration
.text-underline {
  text-decoration: underline;
}

.font-style-italic {
  font-style: italic;
}
